{% load static %} 

<!DOCTYPE html>
<html>
    <head>
        <title>
            Bootstrap Website
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>    
    
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
      </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-12">
                
                <img src="static/Overview.jpg" alt="Website Banner Image" style="height:350px;width:100%;"/>
                
            </div><!-- Banner div close -->
            <div class="col-md-12">

                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">DYPIEMR</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url "home"%}">Home</a></li>
                        <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses
                          <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Engineering</a></li>
                            <li><a href="#">MBA</a></li>
                            <li><a href="#">Page 1-3</a></li>
                          </ul>
                        </li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="{% url "contactus"%}">Contact Us</a></li>
                        <li><a href="{% url "login"%}">Login</a></li>
                        
                      </ul>
                    </div>
                  </nav>

            </div><!-- Menu div close -->
    </body>    
</html>